{% extends 'frontend/base.html' %} {% load static %} {% block content %}

<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">UNIT SOLD</th>
                <th scope="col">IN STOCK</th>
                <th scope="col">EXPIRE DATE</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            {% if products %}
            <tbody>
              {% for product in products %}
              <tr id="product{{product.id}}">
                <th scope="row"><input type="checkbox" /></th>
                <td class="tm-product-name">{{ product.product_name }}</td>
                <td>No inplemented yet</td>
                <td>{{ product.units }}</td>
                <td>{{ product.expire_date }}</td>
                <td>
                  <a href="#" class="tm-product-delete-link">
                    <i
                      class="far fa-trash-alt tm-product-delete-icon"
                      onclick="deleteProduct({{product.id}})"
                    ></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>

            <tbody>
              {% endif %}
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <a
          href="{% url 'frontend:addProducts' %}"
          class="btn btn-primary btn-block text-uppercase mb-3"
          >Add new product</a
        >
        <button class="btn btn-primary btn-block text-uppercase">
          Delete selected products
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
        <h2 class="tm-block-title">Product Categories</h2>
        <div class="tm-product-table-container">
          <table class="table tm-table-small tm-product-table">
            {% if categories %}
            <tbody>
              {% for category in categories %}
              <tr id="category{{category.id}}">
                <td class="tm-product-name">
                  {{ category.category_name | title }}
                </td>
                <td class="text-center">
                  <a class="tm-product-delete-link">
                    <i
                      onclick="deleteCategory({{category.id}})"
                      class="far fa-trash-alt tm-product-delete-icon"
                    ></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% endif %}
          </table>
        </div>
        <!-- table container -->
        <button
          type="button"
          data-toggle="modal"
          data-target="#addNewCategoryModal"
          class="btn btn-primary btn-block text-uppercase mb-3"
        >
          Add new category
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addNewCategoryModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="categoryName">Category Name</label>
        <input
          name="categoryName"
          type="text"
          class="form-control validate"
          id="categoryName"
          value=""
          required
        />
      </div>
      <div class="modal-footer">
        <button
          onclick="cleanModalValue()"
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          onclick="addNewCategory()"
          type="button"
          class="btn btn-primary"
        >
          Save category
        </button>
      </div>
    </div>
  </div>
</div>
</footer>
<script src="{% static 'frontend/scripts/products.js' %}"></script>

<script>
  $(function () {
    $(".tm-product-name").on("click", function () {
      window.location.href = "edit-product.html";
    });
  });
</script>
<script>
  function deleteCategory(categoryId) {
    elementName = "category" + categoryId;
    if (confirm("Delete category?")) {
      $.ajax({
        type: "POST",
        url: "{% url 'frontend:delCategory' %}",
        data: {
          id: categoryId,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (response) {
          alert(response["messageSuccess"]);
          document.getElementById(elementName).remove();
        },
        error: function (response) {
          alert(response["responserJSOM"]["error"]);
        },
      });
    }
  }
  function deleteProduct(productId) {
    elementName = "product" + productId;
    if (confirm("Delete product?")) {
      $.ajax({
        type: "POST",
        url: "{% url 'frontend:delProduct' %}",
        data: {
          id: productId,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (response) {
          alert(response["messageSuccess"]);
          document.getElementById(elementName).remove();
        },
        error: function (response) {
          alert(response["responserJSOM"]["error"]);
        },
      });
    }
  }
</script>

<script>
  function addNewCategory() {
    let categoryName = document.getElementById("categoryName").value;

    if (categoryName == "" || categoryName == "null") {
      alert("Category name invalid, please try again!");
      return;
    }
    if ($.isNumeric(categoryName)) {
      alert("Category name invalid, please try again!");
      return;
    }

    $.ajax({
      type: "POST",
      url: "{% url 'frontend:addCategory' %}",
      data: {
        category_name: categoryName,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: function (response) {
        alert(response["messageSuccess"]);
        cleanModalValue();
      },
      error: function (response) {
        alert(response["responserJSOM"]["error"]);
      },
    });
  }
</script>
{% endblock content %}
